.tableContent {
  border-collapse: collapse;
  width: 100%;
}

.tableContentTitle {
    text-align: center;
}

.tableContent tr,
.tableContent td,
.tableContent th {
    padding: 14px;
}
.tableContent tr:nth-child(even){
    background-color: #f2f2f2;
}

.tableContent tr:hover {
    background-color: #ddd;
}

.tableContent th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}